---
export interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<svg
  width="16"
  height="16"
  viewBox="0 0 24 24"
  fill="currentColor"
  aria-hidden="true"
  class={`inline-block ${className}`}
>
  <title>Download</title>
  <path
    d="M12 15.577l-3.539-3.538-.707.707L12 16.993l4.246-4.247-.707-.707L13 14.577V3h-1v11.577zM4 19h16v1H4z"
  ></path>
</svg>
