---
import Link from "@components/Link.astro";

export interface Props {
  id: number;
}

const { id } = Astro.props;
---

<p class="text-text-tertiary mb-3 text-sm leading-relaxed">
  <span id={`note${id}`}>[{id}]</span>
  <slot />
  <Link href={`#ref${id}`} class="ml-1 text-xs">↩</Link>
</p>
