---
import { Icon } from "astro-icon/components";
import IconLink from "@components/IconLink.astro";

export interface Props {
  class?: string;
  showText?: boolean;
}

const { class: className = "", showText = false } = Astro.props;
---

<IconLink
  href="/rss.xml"
  class={`items-center gap-2 ${className}`}
  title="RSS Feed"
  ariaLabel="RSS Feed"
>
  {showText && <span class="text-xs">Stay updated</span>}
  <Icon name="lucide:rss" size={12} />
</IconLink>
