---
import IconLink from "@components/IconLink.astro";

export interface Props {
  class?: string;
  showText?: boolean;
}

const { class: className = "", showText = false } = Astro.props;
---

<IconLink
  href="/rss.xml"
  class={`items-center gap-2 ${className}`}
  title="RSS Feed"
  ariaLabel="RSS Feed"
>
  {showText && <span class="text-xs">Stay updated</span>}
  <svg
    width="12"
    height="12"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="inline fill-current align-baseline"
  >
    <path
      d="M4 11a9 9 0 0 1 9 9"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"></path>
    <path
      d="M4 4a16 16 0 0 1 16 16"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"></path>
    <circle cx="5" cy="19" r="1" fill="currentColor"></circle>
  </svg>
</IconLink>
